<h1>Homepage</h1>
{{#each posts as |post|}}
    <center>
<div class="card">
    <div class="card-body">
    <h3><a href="/post/{{post.id}}">{{post.title}}</a></h3>
    <p>{{post.description}}</p>
    <label for="created_at">{{format_date post.created_at}}</label>
     </div>
</div>
    </center>
{{/each}}
